#sidebar {
  width: 300px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-right: 1px solid #CCC;
}

#main {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 301px;
}